* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-img {
  width: 626px;
  height: 366px;
  background: url(../../public/img/car.png);
  /* background: black; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  /* scale: 1; */
  overflow: hidden;
  position: relative;
  transition: 1s ease;
}

.hand {
  width: 20px;
  height: 5px;
  background: #000;
  position: absolute;
  top: 44%;
  left: 49%;
  opacity: -1;
}

.price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 36px;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  position: relative;
}

.btn {
  display: flex;
  flex-direction: column;
}

.btn button img {
  width: 16px;
  align-items: center;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* position: relative; */
}

.temprature span {
  margin-right: 60px;
}

.feature span {
  font-size: 36px;
  font-weight: bold;
}

.speed::before,
.temprature::before,
.weels::before {
  position: absolute;
  top: -10px;
  /* left: 0; */
  display: inline;
  font-size: 12px;
}

.speed::before {
  content: 'Скорость автомобиля';
}

.temprature::before {
  content: 'Температура за окнами';
}

.weels::before {
  content: 'Диски';
}

.vkl {
  width: 66px;
  height: 33px;
  background: #adacac;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}

.cyrcle {
  width: 27px;
  height: 27px;
  background-color: gray;
  border-radius: 100%;
  transition: 1s ease;
}

.moved {
  margin-left: 33px;
  background-color: green;
  transition: 1s ease;
}

.air-condition::before,
.long-range::before,
.car-view::before {
  position: absolute;
  top: -10px;
  font-size: 12px;
}

.air-condition::before {
  content: 'Кондиционер';
}

.long-range::before {
  content: 'Версия Long Range';
}

.car-view::before {
  content: 'Вид автомобиля';
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
}

.bg {
  display: none;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  position: relative;
}

.color {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 100%;
  cursor: pointer;
}

.color-box .car-view {
  margin-left: 50px;
}

.color-box .car-view::before {
  top: -20px;
}

.white-color {
  background: #EFEFEF;
}

.biege-color {
  background: #E6DDD0;
}

.modal .main-img {
  width: 833px;
  height: 468px;
  background: url(../../public/img/black.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  scale: 1;
  overflow: hidden;
  margin-bottom: 50px;
}